@import '~antd/dist/antd.less';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.white-shadowed {
  background-color: #fefcff !important;
  box-shadow: 0px 0px 8px rgba(208, 216, 243, 0.6);
  border-color: #c0afd9;
  border-radius: 5px;
}

.ant-layout, .ant-layout-footer {
  background-color: @body-background;
}

.app-body {
  margin-top: 80px;
}

.ant-menu-inline {
  border-right: none;
  background-color: #fefcff;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .ant-layout-sider {
    position: fixed;
    padding: 5px 0px 5px 0;
    z-index: 99;
  }

  .content-holder {
    margin: 10px;
    padding: 0px 0px 5px 0;
  }

  .banner-cover {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }

  .article-title {
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 576px) {
    .ant-layout-sider {
    padding: 5px 0px 5px 0;
    position: fixed;
    margin: 0px 10px 0px 5px;
    z-index: 99;
  }
  .content-holder {
    margin: 5px 10px 10px 222px;
    padding: 10px;
  }

  .banner-cover {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px 5px 0px 0px;
    position: absolute;
    top: 85px;
    right: 10px;
  }

  .article-title {
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    color: white;
  }
}

.ant-layout-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.ant-layout-sider-dark {
  background-color: #00000000;
}

.flex-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
}

.banner {
  position: absolute;
  height: 200px;
  z-index: 10;
  top: 95px;
}

.ant-page-header-content {
  padding-top: 3px;
}