@import '~antd/dist/antd.less';

@small-screen: 415px;
@medium-screen: 576px;
@large-screen: 684px;
@x-large-screen: 840px;
@landscape: 1040px;

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.white-shadowed {
  background-color: #fefcff !important;
  box-shadow: 0px 0px 8px rgba(208, 216, 243, 0.6);
  border-color: #c0afd9;
  border-radius: 5px;
}

.ant-layout, .ant-layout-footer {
  background-color: @body-background;
}

.app-body {
  margin-top: 80px;
}

.ant-menu-inline {
  border-right: none;
  background-color: #fefcff;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

@media only screen and (max-width: @medium-screen) {
  .ant-layout-sider {
    position: fixed;
    padding: 5px 0px 5px 0;
    z-index: 99;
  }

  .content-holder {
    margin: 10px;
    padding: 0px 0px 5px 0;
  }

  .banner-cover {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }

  .article-title {
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
  }
}

@media only screen and (min-width: @medium-screen) {
    .ant-layout-sider {
    padding: 5px 0px 5px 0;
    position: fixed;
    margin: 0px 10px 0px 5px;
    z-index: 99;
  }
  .content-holder {
    margin: 5px 10px 10px 222px;
    padding: 5px;
  }

  .banner-cover {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px 5px 0px 0px;
    position: absolute;
    top: 85px;
    right: 10px;
  }

  .article-title {
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    color: white;
  }

}

.article-card {
  box-sizing: border-box;
  padding: 5px;
}

@media only screen and (max-width: @small-screen) {
  .article-card {
    width: 100%;
  }
}

@media only screen and (min-width: @small-screen) and (max-width: @medium-screen) {
  .article-card {
    width: 50%;
  }
}

@media only screen and (min-width: @medium-screen) and (max-width: @large-screen) {
  .article-card {
    width: 100%;
  }
}

@media only screen and (min-width: @large-screen) and (max-width: @x-large-screen) {
  .article-card {
    width: 50%;
  }
}

@media only screen and (min-width: @x-large-screen) and (max-width: @landscape) {
  .article-card {
    width: 33.3%;
  }
}

@media only screen and (min-width: @landscape) {
  .article-card {
    width: 25%;
  }
}

.ant-layout-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.ant-layout-sider-dark {
  background-color: #00000000;
}

.flex-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  -webkit-justify-content: start;
  padding: 5px;
}

.banner {
  position: absolute;
  height: 200px;
  z-index: 10;
  top: 95px;
}

.ant-page-header-content {
  padding-top: 3px;
}

.ant-card-cover img {
  border-radius: 5px 5px 0 0;
}

.ant-card-body {
  border-radius: 5px;
  padding: 15px;
}

.ant-card-meta {
  margin: -4px 0;
  height: 70px;
  line-height: 1.3;
}


element.style {
  user-select: auto;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 8px;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
.ant-card-meta-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.ant-card-meta-detail {
  overflow: hidden;
  height: 100%;
}

.ant-card-meta-description {
  position: absolute;
  bottom: 10px;
}

.card-tag {
  background-color: #eee9f5ac;
  border-radius: 20px;
  padding: 0px 8px 0px 8px;
  display: inline-flex;
  align-items: center;
  font-size: 10pt;
  color: @primary-color;
}

.category-title {
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: 600;
  margin: 5px auto 0px 10px;
}
